.others-words.word-list
  %h3=t("All Players")

  %table.all-players
    %tr
    - (@board.game.players - [@player]).each do |player|
      %td.player
        %h4= player.user.name

        - guesses = @board.guesses.where(player: player)

        %table
          %thead
            %tr
              %tt=t("Word")
              %th=t("Score")
          %tbody
            - guesses.sort_by(&:word).each do |guess|
              %tr
                %td{ class: guess_classes(guess) }
                  - if guess.valid? && guess.possible? && guess.in_dictionary?
                    %i.guess-status.fa.fa-check
                  - elsif !guess.in_dictionary?
                    %i.guess-status.fa.fa-times
                  - else
                    %i.guess-status.nothing -

                  .word
                    - if guess.in_dictionary?
                      = word_link(guess.word)
                    - else
                      = guess.word

                  - if !guess.unique?
                    (#{pluralize(@board.guesses.where(word: guess.word).count, "person")} guessed)
                %td.score
                  = guess.score

          %tfoot
            %tr
              %td=t("Total score")
              %td= guesses.map(&:score).compact.inject(0, &:+)

.possible-words
  %h3=t("Unguessed Words")

  != @board.possible_words.pluck(:word).reject { |w| @board.guesses.where(word: w).any? }.sort.map { |w| word_link(w) }.join(", ")
