.board
  %h2
    %small
      = link_to "Game #{@game.id}", game_path(@game)
      >
    Round #{@board.round_number}
    - if @board.finished?
      (finished)

  .game-board
    %table.game-board-cells
      - @board.cells.each do |row|
        %tr
          - row.each do |cell|
            %td.cell= cell

  = render partial: "your_words"

  %dl.game-stats
    %dt Started
    %dd= @board.created_at

    - if @board.finished?
      %dt Finished
      %dd= @board.finished_at

    - else
      %dt Seconds left
      %dd.seconds-left (loading)
