- if @board.finished?

- else
  %h2 Round #{@board.round_number}

  %dl
    %dt Started
    %dd= @board.created_at

  %table.board
    - @board.cells.each do |row|
      %tr
        - row.each do |cell|
          %td.cell= cell

  %h3 Your Words

  = form_tag game_board_submit_path(@game, @board) do |f|
    = text_area_tag "guesses", @guesses.join("\n"), size: "25x10"
    = submit_tag "Submit"
