%h2
  %small
    = link_to "Game #{@game.id}", game_path(@game)
    >
  Round #{@board.round_number}
  - if @board.finished?
    (finished)

%dl
  %dt Started
  %dd= @board.created_at

  - if @board.finished?
    %dt Finished
    %dd= @board.finished_at

  - else
    %dt Seconds left
    %dd.seconds-left (loading)

%table.board
  - @board.cells.each do |row|
    %tr
      - row.each do |cell|
        %td.cell= cell

/ TODO split this into partials
%h3 Your Words

- if @board.finished?
  %table
    %thead
      %tr
        %th Word
        %th Score
    %tbody
      - @guesses.sort_by(&:word).each do |guess|
        %tr
          %td{ class: guess_classes(guess) }
            - if guess.in_dictionary?
              = link_to guess.word, "https://en.wiktionary.org/wiki/#{guess.word}"
            - else
              = guess.word

            - if !guess.unique?
              (#{pluralize(@board.guesses.where(word: guess.word).count, "person")} guessed)
          %td.score
            = guess.score

    %tfoot
      %tr
        %td Total score
        %td= @guesses.map(&:score).inject(0, &:+)

  = link_to "next round", game_path(@game)

- else
  / TODO move expires into board model
  #game-board{ "data-expires" => (@board.created_at + @board.round_length).iso8601 }
    = form_tag game_board_submit_path(@game, @board) do |f|
      = text_area_tag "guesses", @guesses.map(&:word).join("\n"), size: "25x10"
      = submit_tag "Submit"
