%h2
  %small
    = link_to "Game #{@game.id}", game_path(@game)
    >
  Round #{@board.round_number}
  - if @board.finished?
    (finished)

%dl
  %dt Started
  %dd= @board.created_at

  - if @board.finished?
    %dt Finished
    %dd= @board.finished_at

  - else
    %dt Seconds left
    %dd.seconds-left ...

%table.board
  - @board.cells.each do |row|
    %tr
      - row.each do |cell|
        %td.cell= cell

%h3 Your Words

- if @board.finished?
  %table
    %thead
      %tr
        %th Word
        %th Score
    %tbody
      - @guesses.each do |guess|
        %tr
          - if guess.checked?
            - if guess.possible?
              - if guess.unique?
                - if guess.in_dictionary?
                  %td.unique
                    = guess.word
                    %i (unique)
                - else
                  %td.not-in-dictionary
                    = guess.word
                    %i (not in dictionary)
              - else
                %td.exists
                  = guess.word
                  %i (already guessed)
            - else
              %td.impossible
                = guess.word
                %i (not possible)
          - else
            %td.not-checked
              = guess.word
              %i (not checked)
          %td.score
            = guess.score

    %tfoot
      %tr
        %td Total score
        %td= @guesses.map(&:score).inject(0, &:+)

  = link_to "next round", game_path(@game)

- else
  #game-board{ "data-expires" => (@board.created_at + @board.round_length).iso8601 }
    = form_tag game_board_submit_path(@game, @board) do |f|
      = text_area_tag "guesses", @guesses.map(&:word).join("\n"), size: "25x10"
      = submit_tag "Submit"
