%h2 Waiting for players...

%ul
  - @game.players.each do |player|
    %li
      = player.ready? ? "ready" : "not ready"
      = player.user.name

- if @player.ready?
  = form_tag game_not_ready_path(@game) do |f|
    = submit_tag "Not ready"

- else
  = form_tag game_ready_path(@game) do |f|
    = submit_tag "Ready"

%h2 Score board

%table.score-board
  %thead
    %tr
      %th Player
      %th Score
  %tbody
    - @game.players.order(score: :desc).each do |player|
      %tr
        %td.name
          = player.user.name
          - if @player == player
            %i (you!)
        %td.score
          = player.score

