- if @game.finished?
  %h2 Game over

  %h3
    - winning_player = @game.players.order(score: :desc).first
    = winning_player.user.name
    - if @player == winning_player
      %i (you!)
    is the winner!
- else
  %h2 Waiting for players...

  %ul
    - @game.players.each do |player|
      %li
        = player.ready? ? "ready" : "not ready"
        = player.user.name

  - if @player.ready?
    = form_tag game_not_ready_path(@game) do |f|
      = submit_tag "Not ready"

  - else
    = form_tag game_ready_path(@game) do |f|
      = submit_tag "Ready"

  #wait-for-game-to-start{ GamePresenter.new(@game).to_data_set }

%h2 Score board

%table.score-board
  %thead
    %tr
      %th Player
      %th Score
  %tbody
    - @game.players.order(score: :desc).each do |player|
      %tr
        %td.name
          = player.user.name
          - if @player == player
            %i (you!)
        %td.score
          = player.score

%i First to #{@game.target_score} wins!

%h2 Recent rounds

%table.recent-rounds
  %thead
    %tr
      %th Round
      - @game.players.each do |player|
        %th
          = player.user.name
          - if @player == player
            %i (you!)

  %tbody
    - @game.boards.order(round_number: :desc).each do |board|
      %tr
        %td
          = link_to "Round #{board.round_number}", game_board_path(@game, board)
        - @game.players.each do |player|
          %td
            = board.guesses.where(player: player).map(&:score).inject(0, &:+)
    - if @game.boards.empty?
      %tr
        %td{ colspan: @game.players.count + 1 }
          %i (none yet!)
