- if @game.finished?
  .game.game-finished
    %h2 Game over

    %h3
      - winning_player = @game.players.order(score: :desc).first
      = winning_player.user.name
      - if @player == winning_player
        %i (you!)
      is the winner!
- else
  .game.game-waiting
    %h2 Waiting for players...

    %ul.player-list
      - @game.players.each do |player|
        %li.player{ class: player.ready? ? "ready" : "not-ready" }
          - if player.ready?
            %i.fa.fa-check-circle
          - else
            %i.fa.fa-times-circle
          = player.user.name

    .actions
      - if @player.ready?
        = form_tag game_not_ready_path(@game), class: "ready-form" do |f|
          = submit_tag "I'm not ready"

      - else
        = form_tag game_ready_path(@game), class: "ready-form" do |f|
          = submit_tag "I'm ready"

    #wait-for-game-to-start{ GamePresenter.new(@game).to_data_set }

    = render partial: "score_board"

    = render partial: "recent_rounds"
