.welcome
  %h1 Boggle

  %p.description
    != t("A multiplayer %{open_source} implementation of %{name} in %{app}", { open_source: link_to(t("open source"), "https://github.com/soundasleep/rboggle"), name: t("Boggle"), app: t("Ruby on Rails")})

  - if current_user
    = form_tag game_index_path, method: :create do |f|
      = submit_tag t("Play a game")

      %i.tip
        = t("%{games} waiting to start", games: pluralize(waiting_games.count, "game"))

    %h2=t("Your games")

    %ul
      - active_games.each do |game|
        %li
          = link_to pluralize(game.players.count, "player"), game_path(game)
          = pluralize(game.rounds, "round")
      - if active_games.empty?
        %li.empty
          %i=t("(none)")

    %h2=t("Finished games")

    %ul
      - finished_games.each do |game|
        %li
          = link_to pluralize(game.players.count, "player"), game_path(game)
          = pluralize(game.rounds, "round")
      - if finished_games.empty?
        %li.empty
          %i=t("(none)")

  - else
    %p You need to #{link_to t("log in"), login_path} first.

  %h2=t("Dictionary")

  =t("%{words} in the dictionary", words: p_(Dictionary.count, "word"))

