!!!
%html
  %head
    %title Rboggle
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ href: "http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic", rel: "stylesheet", type: "text/css" }
    %link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css" }

  %body
    %nav
      %ul.navigation
        %li.home= link_to "Rboggle", root_path
        - if current_user
          %li.user
            Logged in as
            %i= current_user.name
          %li.logout= link_to t("Log out"), logout_path
        - else
          %li.login= link_to t("Log in"), login_path

    - if flash.alert
      .flash.alert=flash.alert

    - if flash.notice
      .flash.notice=flash.notice

    .content
      = yield

    %footer
      .contribute
        != t("Contribute on %{github}", {github: link_to("GitHub", "https://github.com/soundasleep/rboggle", class: "github")})

      .languages
        = FastGettext.locale.to_sym
        = link_to t("English"), locale: "en"
        = link_to t("French"), locale: "fr"
        = link_to t("German"), locale: "de"
        = link_to t("Russian"), locale: "ru"
        = link_to t("Japanese"), locale: "jp"
        = link_to t("Māori"), locale: "mi"
